<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts: Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <title>Student Management System</title>
    <link rel="stylesheet" href="../static/styles/style.css">

</head>

<body>

    <div class="main">
        <div class="boxes">
            <form action="{{ url_for('login') }}" method="post">
                <h1>Login</h1>
                {% if error %}
                <div class="error-message" style="color: red; text-align: center; margin-bottom: 10px;">
                    {{ error }}
                </div>
                {% endif %}
                <label for="gmail_id">Gmail ID</label>
                <input type="text" id="usergmail" name="usergmail" placeholder="Enter your gmail id"
                    autocomplete="gmail_id" required>

                <label for="userpassword">Password</label>
                <input type="password" id="userpassword" name="userpassword" placeholder="Enter your password"
                    autocomplete="current-password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character">

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="../static/js/style.js"></script>
</body>

</html>